// Colors
$base-color: #232020;
$accent-color: #4CAF50;
$primary-color: #48466D;
$secondary-color: #3D84A8;

$grey-187: #bbbbbb;
$grey-230: #e6e6e6;
$grey-241: #f1f1f1;
$grey-243: #f3f3f3;
$grey-250: #fafafa;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #edf512;
$danger-color: #fd0d4d;

$white-color: #ffffff;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$orange-color: #ffbc53;
$link-color: $accent-color;


// Fonts
$font-size: 18px;
$primary-font: "proxima_nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary-font: "PT Sans", sans-serif;
$secondary-font: inherit;

$duration: 0.25s;
$border-radius: 8px;

$header-top-height-desktop: 90px;

// Grid
$grid-columns: 12;
$gutter: 30px;
