.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  max-width: 100%;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $accent-color;
  border: 1px solid transparent;
  letter-spacing: 0.025em;
  box-sizing: border-box;
  box-shadow: 0 0px 12px rgba($accent-color, 0.2);
  border-radius: 100px;
  outline: none;
  user-select: none;
  transition: $duration * 2;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: lighten($accent-color, 6%);
    background-color: $primary-color;
    // box-shadow: 0 0px 20px rgba($accent-color, 0.5);
    box-shadow: 0 0px 20px rgba($primary-color, 0.5);
  }

  &:active {
    color: #ffffff;
    background-color: darken($accent-color, 6%);
    box-shadow: 0 0px 20px rgba($accent-color, 0.5);
  }

  &--fluid {
    width: 100%;
  }

  &--outline {
    background-color: transparent;
    border-color: $accent-color;

    &:hover,
    &:focus {
      border-color: $primary-color;
    }

    &:active {
      border-color: darken($accent-color, 6%);
    }
  }

  &--small {
    padding: 5px 16px;
    font-size: 12px;
  }

}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
