.catalog-card {
  position: relative;
  border-radius: $border-radius;
  transition: $duration * 2;

  // &:hover {
  //   box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  // }

  // &:focus-within {
  //   box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  // }
}

.catalog-card__wraplink {
  position: relative;
  display: block;
  border-radius: $border-radius;
  overflow: hidden;
}

.catalog-card__picture {
  @include make-fit-object(16, 11);

  img {
    transition: transform $duration * 5;

    .catalog-card:hover & {
      transition-delay: $duration / 2;
      transform: scale(1.1) rotate(-2deg);
    }
  }
}

.catalog-card__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(#000000, 0.5), rgba(#000000, 0.25));
  transition: $duration * 5;

  .catalog-card:hover & {
    background-color: rgba(#000000, 0.15);
  }

  .catalog-card:focus-within & {
    background-color: rgba(#000000, 0.15);
  }
}

.catalog-card__title {
  margin: 0;
  font-size: 28px;
  color: #ffffff;
  transform: translateY(10px);
  transition: $duration * 2;

  .catalog-card:hover & {
    transform: translateY(0);
  }

  .catalog-card:focus-within & {
    transform: translateY(0);
  }
}
