.common-products-carousel {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  margin-bottom: -100px;

  .slick-track {
    display: flex;

    &::before,
    &::after {
      content: none;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 4px;
    transform: translateY(-50%);
    font-size: 0;
    color: $grey-187;
    background-color: rgba(#ffffff, 0.8);
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    transition: $duration * 2;

    &::before {
      display: block;
      width: 36px;
      height: 36px;
      font-size: 25px;
    }

    &:not(.slick-disabled):hover {
      color: $accent-color;
      background-color: #ffffff;
    }
  }

  .slick-prev {
    left: -5px;

    &::before {
      content: "❮";
    }
  }

  .slick-next {
    right: -5px;

    &::before {
      content: "❯";
    }
  }

  @include mq-min(1310px) {
    .slick-prev {
      left: -45px;
    }

    .slick-next {
      right: -45px;
    }
  }
}

.common-products-carousel__item {
  display: flex !important;
  height: auto;
  flex-direction: column;
  padding: 4px;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  @media (pointer: fine) {
    padding-bottom: 100px;
  }
}
