.header-layout {

}

.header-layout__top {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;

  @include mq-min(1024px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-layout__top-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-layout__logo {
  width: 100px;
  margin-right: auto;
  margin-bottom: 20px;

  @include mq-min(667px) {
    margin-right: $gutter;
    margin-bottom: 0;
  }

  @include mq-min(1024px) {
    margin-right: $gutter * 2;
  }
}

.header-layout__phones {
  margin-bottom: 20px;

  @include mq-min(667px) {
    margin-right: $gutter;
    margin-bottom: 0;
  }

  @include mq-min(1024px) {
    margin-right: $gutter * 2;
  }
}

.header-layout__info {
  margin-top: 8px;

  @include mq-max(666px) {
    width: 100%;
  }

  @include mq-min(667px) {
    margin-left: auto;
    margin-top: 0;
  }
}

.header-layout__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto !important; // переопределяет свойство, которое задает плагин прилипания шапки
  z-index: 10;
  max-width: 100%;
  background-color: rgba(#000000, 0.2);

  .header-layout--sticky & {
    top: 0;
    position: fixed;
    background-color: rgba(#000000, 0.6);
    animation: fadeIn $duration * 2;
  }
}

.header-layout__bottom-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
