.header-info {
  max-width: 320px;
  line-height: 1.15;

  b {
    font-weight: 600;
  }

  @include mq-max(666px) {
    display: flex;
    max-width: none;

    b {
      display: none;
    }
  }
}

.header-info__item {
  &::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @include mq-max(666px) {
    @include calc-column-width(2, 20px);

    font-size: 15px;

    &::before {
      width: 28px;
      height: 28px;
    }
  }

  @include mq-min(667px) {
    font-size: 15px;
  }

  @include mq-min(768px) {
    font-size: 18px;
  }
}

.header-info__orders {
  &::before {
    background-image: url("images/icon-clock-outline.svg");
  }

  @include mq-min(667px) {
    margin: 0;
    margin-bottom: 8px;
  }
}

.header-info__delivery {
  &::before {
    background-image: url("images/icon-kick-scooter.svg");
  }

  @include mq-min(667px) {
    margin: 0;
  }
}

.header-info__note {
  display: block;
  padding-left: calc(22px + 6px);
  font-size: 0.8em;
  color: $muted-color;

  @include mq-max(666px) {
    padding-left: calc(28px + 6px);
  }
}
