.header-info {
  line-height: 1.15;
  max-width: 320px;

  b {
    font-weight: 600;
  }
}

.header-info__item {
  &::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.header-info__orders {
  margin: 0;
  margin-bottom: 8px;

  &::before {
    background-image: url("images/icon-clock-outline.svg");
  }
}

.header-info__delivery {
  margin: 0;

  &::before {
    background-image: url("images/icon-kick-scooter.svg");
  }
}

.header-info__note {
  display: block;
  font-size: 90%;
  color: $muted-color;
  padding-left: 28px;
}
