.header-actions {
  display: flex;
  align-items: center;
}

.header-actions__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.header-actions__action {
  display: block;
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  transition: $duration;
  outline: none;

  &:hover,
  &:focus {
    color: #ffffff;
    opacity: 0.8;
  }
}

.header-actions__icon {
  width: 28px;
  height: 28px;
  display: block;
  fill: currentColor;
}
