.header-phones {
  margin: 0;
}

.header-phones__item {
  display: block;
  color: $base-color;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  white-space: nowrap;
  transition: $duration;

  span {

  }

  b {
    font-weight: 600;
  }

  @include mq-min(667px) {
    font-size: 18px;
  }

  @include mq-min(768px) {
    font-size: 22px;
  }
}
