.header-search-box {

}

.header-search-box__form {
  position: absolute;
  top: 50%;
  display: flex;
  transform: translate(0, -50%) scaleX(1);
  transition: $duration * 2;
  border-radius: 100px;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  overflow: hidden;

  .header-search-box--not-active & {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%) scaleX(0);
    pointer-events: none;
  }
}

.header-search-box__input {
  appearance: none;
  padding-right: 55px;
}

.header-search-box__submit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 50px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: $border-radius;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.header-search-box__submit-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: auto;
  fill: $base-color;
  opacity: 0.5;
}

.header-search-box__toggle {
  &--hidden,
  &--hidden:hover,
  &--hidden:focus {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
