.header-phones {
  margin: 0;
}

.header-phones__item {
  display: block;
  color: $base-color;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.15;

  span {

  }

  b {
    font-weight: 600;
    // font-size: 25px;
  }
}
