.main-nav {}

.main-nav__toggle {
  margin-top: 10px;
  margin-bottom: 10px;

  @include mq-min(768px) {
    display: none;
  }
}

.menu {
  @include clear-list();

  display: flex;

  a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    transition: $duration;

    &:hover,
    &:focus {
      background-color: rgba(#000000, 0.1);
    }
  }

  & > .menu-item:hover > a {
    background-color: rgba(#000000, 0.1);

    &::after {
      opacity: 1;
    }
  }

  & > .menu-item:focus-within > a {
    background-color: rgba(#000000, 0.1);
  }

  & > .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  & > .menu-item:focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  & > .menu-item > a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  }

  .current-menu-item > a {

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      left: 15px;
      right: 15px;
      bottom: 20px;
      background-color: rgba(#ffffff, 1);
    }
  }

  & > .menu-item-has-children > a {
    &::after {
      content: "";
      width: 7px;
      height: 7px;
      margin-left: 6px;
      transform: rotate(45deg);
      border: 2px solid;
      border-top: none;
      border-left: none;
      box-sizing: border-box;
      opacity: 0.75;
      transition: $duration;
    }
  }

  .sub-menu {
    @include clear-list();

    position: absolute;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(#000000, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: $duration * 2;
    pointer-events: none;

    & > .menu-item > a {
      padding: 5px 15px;
      font-weight: 600;
      font-size: 16px;
      color: $base-color;

      &:hover,
      &:focus {
        background-color: rgba(#000000, 0.05);
      }
    }

    .current-menu-item > a {
      color: $accent-color;

      &::before {
        content: none;
      }
    }
  }

  @include mq-max(767px) {
    display: none;
  }
}
