.nav-product-gallery {
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 4px;
    transform: translateY(-50%);
    font-size: 0;
    background-color: rgba(#ffffff, 0.8);
    color: $grey-187;
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    opacity: 0;
    transition: $duration * 2 $duration * 2;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      font-size: 15px;
    }

    &:hover {
      color: $accent-color;
      background-color: #ffffff;
    }
  }

  .slick-prev {
    left: -15px;

    &::before {
      content: "❮";
    }
  }

  .slick-next {
    right: -15px;

    &::before {
      content: "❯";
    }
  }

  &:hover {
    .slick-arrow {
      transition-delay: 0s;
      opacity: 1;
    }
  }
}

.nav-product-gallery__item {
  @include make-fit-object(10, 8);

  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid transparent;
  box-sizing: border-box;
  opacity: 0.8;
  transition: $duration * 2;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &--active {
    opacity: 1;
    border-color: $orange-color;
  }
}
