.out-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  min-width: 300px;
  width: calc(100vw - (16px + 44px));
  max-width: 100%;
  height: 100%;
  padding: 20px;
  transform: translateX(100%);
  color: $base-color;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  box-shadow: -5px 0 40px rgba(#000000, 0.5);
  transition: $duration * 1.5;
  pointer-events: none;
  box-sizing: border-box;
  will-change: transform, visibility, opacity;

  &--opened {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  @include mq-min(667px) {
    width: 360px;
  }
}

.out-cover__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.out-cover__close-wrapper {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.out-cover__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.out-cover__mobile-nav {
  overflow-y: auto;
}
