.product-summary {

  @include mq-min(768px) {
    display: flex;
  }
}

.product-summary__content {
  width: 100%;
  margin-bottom: $gutter;
  font-size: 15px;

  @include mq-min(768px) {
    margin-right: $gutter;
  }
}

.product-summary__cart {
  @include mq-min(768px) {
    width: 270px;
  }
}
