.products-list {
  @include clear-list();

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: $gutter;
}

.products-list__item {
  display: flex;
  flex-direction: column;
}
