.product {

}

.product__row {
  display: flex;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__gallery {
  width: 100%;

  @include mq-min(992px) {
    width: 390px;
    flex-shrink: 0;
  }

  @include mq-min(1280px) {
    width: 450px;
  }
}

.product__summary {
  width: 100%;

  @include mq-min(992px) {
    margin-left: $gutter;
  }
}

.product__title {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

.product__code {
  margin-bottom: 15px;
}

.product__short-description {
  margin-bottom: 40px;
  font-size: 15px;
  color: $muted-color;
}

.product__summary {

}

.product__description {
  font-size: 16px;
}
