.product-form-cart {
  padding: 20px;
  background-color: $grey-243;
}

.product-form-cart__submit-wrapper {
  text-align: center;
}

.product-form-cart__select {
  select {
    border-radius: 100px;
  }
}

.product-form-cart__input {
  border-radius: 100px;
}
