.select {
  position: relative;
  border-radius: $border-radius / 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 12px;
    height: 11px;
    margin: auto;
    background-color: rgba(49, 128, 35, 0.678);
    transition: $duration;
    pointer-events: none;
  }

  &:focus-within {
    &::before {
      opacity: 0;
    }
  }

  select {
    width: 100%;
    max-height: 150px;
    padding: 15px;
    appearance: none;
    font: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    resize: vertical;
    background-color: #ffffff;
    border: 1px solid $grey-230;
    border-radius: inherit;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: $duration * 2;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: darken($grey-230, 5%);
      background-color: #ffffff;
    }

    &:focus {
      border-color: $grey-187;
      background-color: #ffffff;
    }
  }

  option {
    font-weight: normal;
  }
}
