.select {
  position: relative;
  border-radius: $border-radius / 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    width: 6px;
    height: 6px;
    margin: auto;
    border-left: 2px solid darken($grey-230, 5%);
    border-bottom: 2px solid darken($grey-230, 5%);
    transform: translateY(-2px) rotate(-45deg);
    transition: $duration * 1.5;
    pointer-events: none;
  }

  &:focus-within {
    &::before {
      transform: translateY(-1px) rotate(-45deg);
      border-color: $grey-187;
    }
  }

  select {
    width: 100%;
    max-height: 150px;
    padding: 15px;
    appearance: none;
    font: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    resize: vertical;
    background-color: #ffffff;
    border: 1px solid $grey-230;
    border-radius: inherit;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: $duration * 2;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: darken($grey-230, 5%);
      background-color: #ffffff;
    }

    &:focus {
      border-color: $grey-187;
      background-color: #ffffff;
    }
  }

  option {
    font-size: 18px;

    &:checked {
      background-color: $grey-250;
    }
  }
}
